body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-bottom: 20px;
    color: #444;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}

#tasksContainer {
    margin-top: 20px;
    font-weight: bold;
    font-size: 21px;
  }
  
  .task-item {
    background: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    width: 50%;
    margin: 15px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  
  }

  .task-item.done {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

  
  .delete-btn {
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;

  }
  